<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/lenovo/IdeaProjects/untitled1">
        <classes>
            <class name="TestPackage.TestRegisterUser">
                <methods>
                    <include name="Verify_that_home_page_is_visible_successfully"/>
                    <include name="Verify_that_newUserSignUp_is_visible_successfully"/>
                    <include name="Verify_that_EnterAccountInformation_is_visible_successfully"/>
                    <include name="Verify_that_ACCOUNTCREATED_is_visible_successfully"/>
                    <include name="Verify_that_loggedIn_is_visible_successfully"/>
                    <include name="Verify_that_AccountDeleted_is_visible_successfully"/>
                </methods>
            </class>
            <class name="TestPackage.TestLoginUserWithValidData">
                <methods>
                    <include name="Verify_that_home_page_is_visible_successfully"/>
                    <include name="Verify_that_LoginToYourAccount_is_visible_successfully"/>
                    <include name="Verify_that_loggedIn_is_visible_successfully"/>
                </methods>
            </class>
            <class name="TestPackage.TestLoginWithInvalidData">
                <methods>
                    <include name="Verify_that_home_page_is_visible_successfully"/>
                    <include name="Verify_that_LoginToYourAccount_is_visible_successfully"/>
                    <include name="Verify_that_ErrorYourEmailOrPasswordIsIncorrect_is_visible_successfully"/>
                </methods>
            </class>
            <class name="TestPackage.TestLogoutUser">
                <methods>
                    <include name="Verify_that_home_page_is_visible_successfully"/>
                    <include name="Verify_that_LoginToYourAccount_is_visible_successfully"/>
                    <include name="Verify_that_loggedIn_is_visible_successfully"/>
                    <include name="Verify_that_user_is_navigated_toLoginPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>